@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Lora);

body {
	background-color:#f9f4f4;
}
h1, p, li, img, #slogan{
	text-align: center;
}
h1 {
	color:#005290;
	font-family: 'Muli', sans-serif;
	font-weight: bold;
}
p {
	color:#696161;
	font-family: 'Lora', serif;
}

li {
	color:#696161;
	font-family: 'Lora', serif;
}
#slogan {
	color:#696161;
	font-family: 'Lora', serif;
	font-weight: bold;
}
ul {
    color:#696161;
    text-align: center;
    list-style-type: none;
    font-family: 'Lora', serif;
}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}
nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}
section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
div {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

#three_column{
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 62%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "footer";
    clear: both;
    height: 0;
}