body{
	background-color:#f9f4f4;
}
h1, p, li, img, #slogan{
	text-align: center;
}
h1{
	color:#005290;
	text-transform: uppercase;
}
p{
	color:#696161;
}
ul{
	color:#696161;
}
li{
	color:#696161;
}
#slogan{
	color:#696161;
}
ul {
    text-align: center;
    list-style-type: none;
}