@import url(https://fonts.googleapis.com/css?family=Muli);

body{
	background-color:#f9f4f4;
}
h1, p, li, img, #slogan{
	text-align: center;
}
h1{
	color:#005290;
	font-family: 'Muli', sans-serif
	font-weight: bold;
}
p{
	color:#696161;
}
ul{
	color:#696161;
}
li{
	color:#696161;
}
#slogan{
	color:#696161;
}
ul {
    text-align: center;
    list-style-type: none;
}