body{
	background-color:#f5f5dc;
}
h1, p, ul, li, img, #slogan{
	text-align: center;
}
h1{
	color:#005290;
	text-transform: uppercase;
}
p{
	color:#696161;
}
ul{
	color:#696161;
}
li{
	color:#696161;
}
#slogan{
	color:#696161;
}