body{
	background-color:#f5f5dc;
	text-align: center;
	
}
h1{
	color:#005290;
	text-align: center;
	text-transform: uppercase;
}
p{
	color:#696161;
	text-align: center;
}
ul{
	color:#696161;
	text-align: center;
}
li{
	color:#696161;
	text text-align: center;
}
img{
	text-align: center;
}
#slogan{
	color:#696161;
	text-align: center;
}